<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="car-body">
        <div class="container-fluid">
            <div class="text-center">
                <img src="./assets/images/logo.jpg"
                    class="img-responsive center-block"
                    style="max-height: 300px; padding-bottom: 50px"/>
            </div>

            <div class="text-center">Developed By:</div>
            <div class="text-center"><h3>Raghavendra M Boregowda</h3></div>
            <div class="text-center">@raghubgowda</div>
            <div class="text-center"><a href="https://github.com/raghubgowda">https://github.com/raghubgowda</a></div>
        </div>
    </div>
</div>